h1 {
    color: #222222;
}

h2 {
    color: #115522;
}

h3 {
    color: #222222;
}

h4 {
    color: #222222;
}

h5 {
    color: #222222;
}

p {
    color: #222222;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.col-wide {
    flex: 1 100%
    width: 100%;
}

.col {
    flex: 1;
}

.logo {
    margin: 20px;
}

.name {
    text-align: right;
}

.line {
    border: 3px solid #115522;
    width: 100%;
}

.banner {
    width: 100%;
}

.center {
    text-align: center;
    width: 100%;
}

.work {
    width: 90%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}